body {
    font-family: "Courier New";
}
.navbar-default {
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a, .navbar-brand span {
    font-weight: bold;
    color: #999999;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #333333;
    font-weight: bold;
}
.navbar-default .navbar-nav>.active.open>a,
.navbar-default .navbar-nav>.active.open>a:focus,
.navbar-default .navbar-nav>.active.open>a:hover,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background-color: #e7e7e7;
    color: #333333;
}
.navbar-brand > img {
    width: 20px;
    height: 20px;
    display: inline;
}
.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
}
