{% for item in items %}
<article>
    {% if item.date and item.title %}
    <header>
        <time datetime="{{ item.date }}">{{ item.date | date: "%d/%m/%Y" }}</time> - {{ item.title }}
    </header>
    {% endif %}

    {{ content }}

    {% for image in item.images %}
    <div class="image">
        <a href="{{ image.view }}" title="{{ image.caption }}">
            <img src="{{ image.thumb }}" alt="{{ image.title }}">
        </a>
        <span class="image-caption">{{ image.title }}</span>
    </div>
    {% endfor %}
</article>
{% endfor %}
