<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/{{ page.lang }}/">
                <img alt="{{ site.trans[page.lang].nav.home }}" src="/img/monogram100.gif">
                <span class="visible-xs-inline">{{ site.trans[page.lang].nav.home }}</span>
            </a>
        </div>

        {% assign levels = page.dir | split: '/' | shift: 2 %}
        {% if levels contains 2003 %}asdasd{% endif %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown{% if levels.size == 0 %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ site.trans[page.lang].nav.home }}</a>
                    <ul class="dropdown-menu">
                        <li{% if levels.size == 0 %} class="active"{% endif %}>
                            <a href="/{{ page.lang }}/">{{ site.trans[page.lang].nav.selected }}</a></li>
                        <li><a target="_blank" href="/downloads/cv_henrik_martin2012.doc">{{ site.trans[page.lang].nav.cv }}</a></li>
                        <li><a target="_blank" href="/downloads/henrik_martin_2012.pdf">{{ site.trans[page.lang].nav.portfolio }}</a></li>
                    </ul>
                </li>

                <li class="dropdown{% if levels contains 'works' %} active{% endif %}">
                    <a href="#" class="dropdown-toggle"data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ site.trans[page.lang].nav.works }}</a>
                    <ul class="dropdown-menu">
                        {% assign prev_year = 0 %}
                        {% assign years = site.works | map: 'year' | sort %}
                        {% for year in years %}
                            {% if prev_year != year %}
                                {% capture year_as_string %}{{ year }}{% endcapture %}
                                <li{% if levels contains year_as_string %} class="active"{% endif %}><a href="/{{ page.lang }}/works/{{ year }}/">{{ year }}</a></li>
                                {% assign prev_year = year %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>

                <li{% if levels contains 'actual' %} class="active"{% endif %}><a href="/{{ page.lang }}/actual/">{{ site.trans[page.lang].nav.actual }}</a></li>
                <li{% if levels contains 'cv' %} class="active"{% endif %}><a href="/{{ page.lang }}/cv/">{{ site.trans[page.lang].nav.cv }}</a></li>
                <li{% if levels contains 'texts' %} class="active"{% endif %}><a href="/{{ page.lang }}/texts/">{{ site.trans[page.lang].nav.texts }}</a></li>
                <li{% if levels contains 'contact' %} class="active"{% endif %}><a href="/{{ page.lang }}/contact/">{{ site.trans[page.lang].nav.contact }}</a></li>
                <li{% if levels contains 'links' %} class="active"{% endif %}><a href="/{{ page.lang }}/links/">{{ site.trans[page.lang].nav.links }}</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[{{ page.lang }}] <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for lang in site.languages %}
                        <li{% if page.lang == lang %} class="active"{% endif %}>
                            {% if page.lang == lang %}
                            <a href="#">[{{ lang }}]</a>
                            {% else %}
                            <a rel="alternate" href="{{ page.url | replace_first: page.lang, lang | replace: 'index.html', '' }}" hreflang="{{ lang }}" lang="{{ lang }}">[{{ lang }}]</a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
