<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>martin henrik{% for title in page.title %} | {{ title }}{% endfor %}</title>
        <meta name="description" content="Martin Henrik's personal site">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="main">
            <nav role="navigation">
                <ul>
                    <li><a href="/">henrik martin</a>
                        <ul>
                            <li><a href="/">selected</li>
                            <li><a target="_blank" href="/downloads/cv_henrik_martin2012.doc">cv</a></li>
                            <li><a target="_blank" href="/downloads/henrik_martin_2012.pdf">portfolio</a></li>
                        </ul>
                    </li>
                    <li><a href="/works/">works</a>
                        <ul>
                            {% assign prev_year = 0 %}
                            {% assign years = site.works | map: 'year' | sort %}
                            {% for year in years %}
                                {% if prev_year != year %}
                                <li><a href="/works/{{ year }}">{{ year }}</a></li>
                                {% assign prev_year = year %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="/actual">actual</a></li>
                    <li><a href="/cv">cv</a></li>
                    <li><a href="/texts">texts</a></li>
                    <li><a href="/contact">contact</a></li>
                    <li><a href="/links">links</a></li>
                </ul>
            </nav>

            <div class="container">
                {{ content }}
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; Martin Henrik 2015 | All rights reserved</p>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="/js/main.js"></script>
        <script src="/js/vendor/lightbox.min.js"></script>

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ site.ga_code }}','auto');ga('send','pageview');
        </script>
    </body>
</html>
